html {
  height: 100vh;
  font-family: sans-serif;
}

body {
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: snow;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  gap: 20px;
}

@media (min-width:200px) and (max-width: 768px) {
  #root {
    display: block;
  }

  section {
    width: 70%;
    margin-left: 15%;
    margin-bottom: 50px;
  }

  p {
    max-width: 100%;
  }

  ul {
    margin: 0px;
  }

  li {
    display: block;
    width: 100%;
    margin: 0px;
  }

  #pending-selections {
    display: block;
  }

  #pending-selections>div,
  #completed-selection>select {
    width: 100%;
    margin-bottom: 10px;
  }

  .complete-btn {
    width: 80%;
    margin-left: 10%;
  }

  .complete-btn {
    width: 80%;
    margin-left: 10%;
  }
}